*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.result{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 170px;
    padding: 15px;
    background-color: lavender;
    width: 380px;
    height: 350px;
    border: 2px solid #AEC0D8 ;
    border-radius: 15px;
    transform: translate(560px);
    -webkit-transform: translate(560px);
    -moz-transform: translate(560px);
    -ms-transform: translate(560px);
    -o-transform: translate(560px);
    font-size: 20px;
}

.result-text{
    color: #5F4B8B;
}

.result-sun{
    margin-bottom: 240px;
    margin-left: 20px;
}
.result-moon{
    margin-top: 240px;
    margin-right: 20px;
}