*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer-box{
    color: #5F4B8B;
    position: relative;
    left: 42%;
    width: 225px;
    height: 130px;
    background-color: #F0F8FF ;
    border-right: 2px solid #AEC0D8;
    border-left: 2px solid #AEC0D8;
    border-bottom: 2px solid #AEC0D8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun-img{
    transform: translate(700px,-10px);
    -webkit-transform: translate(700px,-10px);
    -moz-transform: translate(700px,-10px);
    -ms-transform: translate(700px,-10px);
    -o-transform: translate(700px,-10px);
}

.moon-img{
    transform: translate(-700px,-10px);
    -webkit-transform: translate(-700px,-10px);
    -moz-transform: translate(-700px,-10px);
    -ms-transform: translate(-700px,-10px);
    -o-transform: translate(-700px,-10px);
}

.timer{
    font-size: 40px;
}

.quiz{
    margin-top: 70px;
    padding: 15px;
    background-color: #FFFFFF;
    width: 380px;
    height: 450px;
    border: 2px solid #AEC0D8 ;
    border-radius: 15px;
    transform: translate(560px);
    -webkit-transform: translate(560px);
    -moz-transform: translate(560px);
    -ms-transform: translate(560px);
    -o-transform: translate(560px);
}

.question{
    font-size: 20px;
    font-weight: bold;
    color: #2A2A5E ;
}

.answers{
    color: #444444 ;
    list-style: none;
    margin: 10px 0px;
    font-size: 15px;
}

.ans-li{
    margin: 30px 0px;
}

.btns{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 25px 48px;
    width: 240px;
}

.btn{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80px;
}

.next{
    background-color: #007BFF ;
    color: white;
    border: #007BFF solid 2px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.next:hover{
    background-color: white;
    color: #007BFF ;
    border: #007BFF solid 2px;
    cursor: pointer;
}

.back{
    background-color: #DC3545 ;
    color: white;
    border: #DC3545 solid 2px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.back:hover{
    background-color: white;
    color: #DC3545 ;
    border: #DC3545 solid 2px;
    cursor: pointer;
}

.finish{
    background-color: #28A745 ;
    color: white;
    border: #28A745 solid 2px;
    margin-left: 125px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.finish:hover{
    background-color: white;
    color: #28A745 ;
    border: #28A745 solid 2px;
    cursor: pointer;
}

.img1{
    width: 30px;
    height: 25px;
}

.img2{
    transform: translate(230px,-230px);
    -webkit-transform: translate(230px,-230px);
    -moz-transform: translate(230px,-230px);
    -ms-transform: translate(230px,-230px);
    -o-transform: translate(230px,-230px);
    width: 50px;
    height: 50px;
}

.img3{
    transform: translate(1150px, -300px);
    -webkit-transform: translate(1150px, -300px);
    -moz-transform: translate(1150px, -300px);
    -ms-transform: translate(1150px, -300px);
    -o-transform: translate(1150px, -300px);
    width: 100px;
    height: 100px;
}

.img4{
    transform: translate(200px, -400px);
    -webkit-transform: translate(200px, -400px);
    -moz-transform: translate(200px, -400px);
    -ms-transform: translate(200px, -400px);
    -o-transform: translate(200px, -400px);
    width: 30px;
    height: 30px;
}

.img5{
    transform: translate(1030px, -275px);
    -webkit-transform: translate(1030px, -275px);
    -moz-transform: translate(1030px, -275px);
    -ms-transform: translate(1030px, -275px);
    -o-transform: translate(1030px, -275px);
    width: 35px;
    height: 35px;
}

.img6{
    transform: translate(840px, -110px);
    -webkit-transform: translate(840px, -110px);
    -moz-transform: translate(840px, -110px);
    -ms-transform: translate(840px, -110px);
    -o-transform: translate(840px, -110px);
    width: 40px;
    height: 40px;
}

.img7{
    transform: translate(-150px, -335px);
    -webkit-transform: translate(-150px, -335px);
    -moz-transform: translate(-150px, -335px);
    -ms-transform: translate(-150px, -335px);
    -o-transform: translate(-150px, -335px);
    width: 45px;
    height: 45px;
}

.img8{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.img9{
    transform: translate(540px,-330px);
    -webkit-transform: translate(540px,-330px);
    -moz-transform: translate(540px,-330px);
    -ms-transform: translate(540px,-330px);
    -o-transform: translate(540px,-330px);
    width: 30px;
    height: 30px;
}